.centerLogin{
    height: -webkit-fill-available;
    /* align-items: start; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentForm{
    width: 50%;
    height: 90vh;
}
.warningText{
    margin-top: 2%;
}
.btnClose{
    float: right;
    margin-right: 5%;
    margin-top: 1%;
}